<img style="float: left;" src="../images/fanniemae.png">
<br><br><br><br><br><br>
______

# Mortgage Loan Default Classifier
____________
____________

## Problem Statement:
_____________
<.add problem statement here when complete.>

## Load Datasets and Basic Clean
_______
Fannie Mae (hyperlink) provides 2 options in regards to the data available for download; the entire dataset or subsets per quarter of loan acquisition.  The entire dataset encompasses approximately 26 GB of data in comparison to approximately 200 - 500 MB for quarter subsets.  The quarter subsets on average contain greater than 100,000 observations which will be sufficient for the scope of this project as the projects current scope seeks predict loan default using the acquisition data from the previous year.

In summary, this workbook will load the raw data files, reduce data to essential features, then merge to a single dataset.  The Acquisition file contains static loan characteristics for each loan acquired in the given quarter.  In contrast, the Performance file contains the monthly performance such as payment history, loan balance, and final disposition through the entire life cycle of each loan acquired in the associated quarter.  Since the intent of the model is to predict loan default before acquisition by Fannie Mae, the model will concentrate on the features from the Acquisition file while only extracting the loan disposition from the Performance file.

Explanations:
- why did I choose to drop certain columns; date, zip, MI, co borrower credit score, etc.?  zip has near 900 categories also
- why did I choose to use zero balance code for default status?
- why did I choose the first quarter of 2011?  prior to 2008, lax on data gathering such as dti & cred score; also data conditioned on crisis implications
- why did I choose to use only 1 quarter instead of full dataset?  future considerations
- why did I choose to create MI and MIN CREDIT SCORE?


Future condsiderations: 
- whether there's null/target correlations?
-

### Import packages

In [1]:
# import necessary packages
import pandas as pd
import numpy as np

### Load data files

In [2]:
# define function to load data set

def load_dataset(year=2011, quarter=1):

    # load acquisition data dictionary csv for column names
    acq_data_dict_fp = '../data/acquisition_data_dict_summary.csv'
    list_acq_col_names = pd.read_csv(acq_data_dict_fp)['Field Name'].tolist()
    
    # load acquisition data dictionary csv for column names
    perf_data_dict_fp = '../data/performance_data_dict_summary.csv'
    list_perf_col_names = pd.read_csv(perf_data_dict_fp)['Field Name'].tolist()

    # load acquisition csv
    ## string for fp needs variable
    acq_data_fp = f'../data/{year}Q{quarter}/Acquisition_{year}Q{quarter}.txt'
    df_acq = pd.read_csv(acq_data_fp, sep='|', header=None, names=list_acq_col_names)
    
    # load performance csv
    perf_data_fp = f'../data/{year}Q{quarter}/Performance_{year}Q{quarter}.txt'
    df_perf = pd.read_csv(perf_data_fp, sep='|', header=None, names=list_perf_col_names)
    
    return df_acq, df_perf, year, quarter

In [3]:
# assign datasets and identifiers
df_acq, df_perf, year, quarter = load_dataset(2012, 1)

C:\Users\bdmir\Anaconda3\envs\dsi\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

### Explore Acquisition File

In [4]:
df_acq.head()

,LOAN IDENTIFIER,ORIGINATION CHANNEL,SELLER NAME,ORIGINAL INTEREST RATE,ORIGINAL UPB,ORIGINAL LOAN TERM,ORIGINATION DATE,FIRST PAYMENT DATE,ORIGINAL LOAN-TO-VALUE (LTV),ORIGINAL COMBINED LOAN-TO-VALUE (CLTV),...,PROPERTY TYPE,NUMBER OF UNITS,OCCUPANCY TYPE,PROPERTY STATE,ZIP CODE SHORT,PRIMARY MORTGAGE INSURANCE PERCENT,PRODUCT TYPE,CO-BORROWER CREDIT SCORE AT ORIGINATION,MORTGAGE INSURANCE TYPE,RELOCATION MORTGAGE INDICATOR
0,100000853384,R,OTHER,4.625,280000,360,02/2012,04/2012,31,31.0,...,SF,1,I,CA,945,NaN,FRM,NaN,NaN,N
1,100003735682,R,SUNTRUST MORTGAGE INC.,3.990,466000,360,01/2012,03/2012,80,80.0,...,SF,1,P,MD,208,NaN,FRM,788.0,NaN,N
2,100006367485,C,PHH MORTGAGE CORPORATION,4.000,229000,360,02/2012,04/2012,67,67.0,...,SF,1,P,CA,959,NaN,FRM,794.0,NaN,N
3,100007267644,C,OTHER,4.125,154000,360,12/2011,02/2012,77,77.0,...,CO,1,P,MA,21,NaN,FRM,NaN,NaN,N
4,100007813921,C,FLAGSTAR CAPITAL MARKETS CORPORATION,3.875,152000,360,01/2012,03/2012,48,48.0,...,PU,1,P,CA,922,NaN,FRM,820.0,NaN,N

In [5]:
df_acq.describe()

,LOAN IDENTIFIER,ORIGINAL INTEREST RATE,ORIGINAL UPB,ORIGINAL LOAN TERM,ORIGINAL LOAN-TO-VALUE (LTV),ORIGINAL COMBINED LOAN-TO-VALUE (CLTV),NUMBER OF BORROWERS,ORIGINAL DEBT TO INCOME RATIO,BORROWER CREDIT SCORE AT ORIGINATION,NUMBER OF UNITS,ZIP CODE SHORT,PRIMARY MORTGAGE INSURANCE PERCENT,CO-BORROWER CREDIT SCORE AT ORIGINATION,MORTGAGE INSURANCE TYPE
count,6.375600e+05,637560.000000,6.375600e+05,637560.000000,637560.000000,637559.000000,637544.000000,637422.000000,637217.000000,637560.000000,637560.00000,72468.000000,379993.000000,72468.000000
mean,5.499803e+11,3.937500,2.213268e+05,294.065290,67.166864,68.296776,1.600257,30.965670,770.289344,1.030115,561.72277,23.697287,775.604932,1.030289
std,2.600839e+11,0.472651,1.229992e+05,88.719822,17.329384,17.175813,0.499445,9.696577,38.973867,0.234855,314.04346,7.751858,35.377515,0.171383
min,1.000009e+11,2.250000,8.000000e+03,60.000000,4.000000,4.000000,1.000000,1.000000,480.000000,1.000000,1.00000,6.000000,530.000000,1.000000
25%,3.244486e+11,3.625000,1.240000e+05,180.000000,56.000000,58.000000,1.000000,24.000000,751.000000,1.000000,283.00000,25.000000,760.000000,1.000000
50%,5.498363e+11,3.990000,1.950000e+05,360.000000,72.000000,73.000000,2.000000,31.000000,782.000000,1.000000,597.00000,25.000000,786.000000,1.000000
75%,7.755048e+11,4.250000,3.000000e+05,360.000000,80.000000,80.000000,2.000000,39.000000,799.000000,1.000000,891.00000,30.000000,801.000000,1.000000
max,9.999991e+11,6.750000,1.200000e+06,360.000000,97.000000,114.000000,10.000000,64.000000,850.000000,4.000000,999.00000,40.000000,841.000000,2.000000

In [6]:
df_acq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637560 entries, 0 to 637559
Data columns (total 25 columns):
LOAN IDENTIFIER                            637560 non-null int64
ORIGINATION CHANNEL                        637560 non-null object
SELLER NAME                                637560 non-null object
ORIGINAL INTEREST RATE                     637560 non-null float64
ORIGINAL UPB                               637560 non-null int64
ORIGINAL LOAN TERM                         637560 non-null int64
ORIGINATION DATE                           637560 non-null object
FIRST PAYMENT DATE                         637560 non-null object
ORIGINAL LOAN-TO-VALUE (LTV)               637560 non-null int64
ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)     637559 non-null float64
NUMBER OF BORROWERS                        637544 non-null float64
ORIGINAL DEBT TO INCOME RATIO              637422 non-null float64
BORROWER CREDIT SCORE AT ORIGINATION       637217 non-null float64
FIRST TIME HOME BUYER INDICATOR            637560 non-null object
LOAN PURPOSE                               637560 non-null object
PROPERTY TYPE                              637560 non-null object
NUMBER OF UNITS                            637560 non-null int64
OCCUPANCY TYPE                             637560 non-null object
PROPERTY STATE                             637560 non-null object
ZIP CODE SHORT                             637560 non-null int64
PRIMARY MORTGAGE INSURANCE PERCENT         72468 non-null float64
PRODUCT TYPE                               637560 non-null object
CO-BORROWER CREDIT SCORE AT ORIGINATION    379993 non-null float64
MORTGAGE INSURANCE TYPE                    72468 non-null float64
RELOCATION MORTGAGE INDICATOR              637560 non-null object
dtypes: float64(8), int64(6), object(11)
memory usage: 121.6+ MB

In [7]:
df_acq.isna().sum()

LOAN IDENTIFIER                                 0
ORIGINATION CHANNEL                             0
SELLER NAME                                     0
ORIGINAL INTEREST RATE                          0
ORIGINAL UPB                                    0
ORIGINAL LOAN TERM                              0
ORIGINATION DATE                                0
FIRST PAYMENT DATE                              0
ORIGINAL LOAN-TO-VALUE (LTV)                    0
ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)          1
NUMBER OF BORROWERS                            16
ORIGINAL DEBT TO INCOME RATIO                 138
BORROWER CREDIT SCORE AT ORIGINATION          343
FIRST TIME HOME BUYER INDICATOR                 0
LOAN PURPOSE                                    0
PROPERTY TYPE                                   0
NUMBER OF UNITS                                 0
OCCUPANCY TYPE                                  0
PROPERTY STATE                                  0
ZIP CODE SHORT                                  0
PRIMARY MORTGAGE INSURANCE PERCENT         565092
PRODUCT TYPE                                    0
CO-BORROWER CREDIT SCORE AT ORIGINATION    257567
MORTGAGE INSURANCE TYPE                    565092
RELOCATION MORTGAGE INDICATOR                   0
dtype: int64

### Explore Performance File

In [8]:
df_perf.head()

,LOAN IDENTIFIER,MONTHLY REPORTING PERIOD,SERVICER NAME,CURRENT INTEREST RATE,CURRENT ACTUAL UPB,LOAN AGE,REMAINING MONTHS TO LEGAL MATURITY,ADJUSTED MONTHS TO MATURITY,MATURITY DATE,METROPOLITAN STATISTICAL AREA (MSA),...,ASSOCIATED TAXES FOR HOLDING PROPERTY,NET SALE PROCEEDS,CREDIT ENHANCEMENT PROCEEDS,REPURCHASE MAKE WHOLE PROCEEDS,OTHER FORECLOSURE PROCEEDS,NON INTEREST BEARING UPB,PRINCIPAL FORGIVENESS AMOUNT,REPURCHASE MAKE WHOLE PROCEEDS FLAG,FORECLOSURE PRINCIPAL WRITE-OFF AMOUNT,SERVICING ACTIVITY INDICATOR
0,100000853384,03/01/2012,OTHER,4.625,NaN,0,360,359.0,03/2042,41860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,100000853384,04/01/2012,NaN,4.625,NaN,1,359,358.0,03/2042,41860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,100000853384,05/01/2012,NaN,4.625,NaN,2,358,357.0,03/2042,41860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,100000853384,06/01/2012,NaN,4.625,NaN,3,357,356.0,03/2042,41860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,100000853384,07/01/2012,NaN,4.625,NaN,4,356,352.0,03/2042,41860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [9]:
df_perf.describe()

,LOAN IDENTIFIER,CURRENT INTEREST RATE,CURRENT ACTUAL UPB,LOAN AGE,REMAINING MONTHS TO LEGAL MATURITY,ADJUSTED MONTHS TO MATURITY,METROPOLITAN STATISTICAL AREA (MSA),ZERO BALANCE CODE,FORECLOSURE COSTS,PROPERTY PRESERVATION AND REPAIR COSTS,ASSET RECOVERY COSTS,MISCELLANEOUS HOLDING EXPENSES AND CREDITS,ASSOCIATED TAXES FOR HOLDING PROPERTY,NET SALE PROCEEDS,CREDIT ENHANCEMENT PROCEEDS,REPURCHASE MAKE WHOLE PROCEEDS,OTHER FORECLOSURE PROCEEDS,NON INTEREST BEARING UPB,PRINCIPAL FORGIVENESS AMOUNT,FORECLOSURE PRINCIPAL WRITE-OFF AMOUNT
count,3.582720e+07,3.582720e+07,3.202967e+07,3.582720e+07,3.582720e+07,3.577914e+07,3.582720e+07,345931.000000,801.000000,629.000000,315.000000,706.000000,653.000000,789.000000,197.000000,14.000000,434.000000,48055.000000,37.000000,0.0
mean,5.496181e+11,3.918243e+00,1.794374e+05,3.446456e+01,2.574865e+02,2.473128e+02,2.756427e+04,1.021218,5905.742846,7960.521208,1946.323079,964.852493,5757.433706,126299.071229,40285.930812,82407.482143,6770.163917,948.132363,4982.682973,NaN
std,2.600358e+11,4.740592e-01,1.080594e+05,2.265546e+01,9.267729e+01,9.786810e+01,1.404188e+04,0.416878,4916.938605,9657.484399,1957.010398,3588.935114,7129.289638,89602.638661,35801.726138,78238.243208,30697.749621,7422.116388,1414.675954,NaN
min,1.000009e+11,2.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,1.200000,8.000000,25.000000,-22618.500000,87.000000,1313.550000,380.550000,10858.420000,0.000000,0.000000,3086.670000,NaN
25%,3.241699e+11,3.625000e+00,9.692830e+04,1.500000e+01,1.640000e+02,1.570000e+02,1.698000e+04,1.000000,2999.370000,2286.500000,750.000000,-135.855000,1540.640000,57263.520000,18854.070000,25151.995000,173.560000,0.000000,3086.670000,NaN
50%,5.492722e+11,3.875000e+00,1.533181e+05,3.200000e+01,3.010000e+02,2.920000e+02,3.108000e+04,1.000000,5027.290000,4351.000000,1456.250000,745.690000,3118.910000,104951.760000,30767.670000,65534.810000,785.405000,0.000000,6009.690000,NaN
75%,7.749242e+11,4.250000e+00,2.420563e+05,5.300000e+01,3.350000e+02,3.310000e+02,3.910000e+04,1.000000,7658.230000,10028.420000,2500.000000,2042.042500,7128.410000,171766.960000,49555.760000,110099.907500,2554.635000,0.000000,6009.690000,NaN
max,9.999991e+11,6.750000e+00,1.169043e+06,9.600000e+01,4.820000e+02,4.790000e+02,4.974000e+04,16.000000,49814.440000,79999.140000,12850.000000,23359.940000,64377.470000,497298.770000,299525.750000,307271.880000,450003.680000,112572.980000,6009.690000,NaN

In [10]:
df_perf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35827199 entries, 0 to 35827198
Data columns (total 31 columns):
LOAN IDENTIFIER                               int64
MONTHLY REPORTING PERIOD                      object
SERVICER NAME                                 object
CURRENT INTEREST RATE                         float64
CURRENT ACTUAL UPB                            float64
LOAN AGE                                      int64
REMAINING MONTHS TO LEGAL MATURITY            int64
ADJUSTED MONTHS TO MATURITY                   float64
MATURITY DATE                                 object
METROPOLITAN STATISTICAL AREA (MSA)           int64
CURRENT LOAN DELINQUENCY STATUS               object
MODIFICATION FLAG                             object
ZERO BALANCE CODE                             float64
ZERO BALANCE EFFECTIVE DATE                   object
LAST PAID INSTALLMENT DATE                    object
FORECLOSURE DATE                              object
DISPOSITION DATE                              object
FORECLOSURE COSTS                             float64
PROPERTY PRESERVATION AND REPAIR COSTS        float64
ASSET RECOVERY COSTS                          float64
MISCELLANEOUS HOLDING EXPENSES AND CREDITS    float64
ASSOCIATED TAXES FOR HOLDING PROPERTY         float64
NET SALE PROCEEDS                             float64
CREDIT ENHANCEMENT PROCEEDS                   float64
REPURCHASE MAKE WHOLE PROCEEDS                float64
OTHER FORECLOSURE PROCEEDS                    float64
NON INTEREST BEARING UPB                      float64
PRINCIPAL FORGIVENESS AMOUNT                  float64
REPURCHASE MAKE WHOLE PROCEEDS FLAG           object
FORECLOSURE PRINCIPAL WRITE-OFF AMOUNT        float64
SERVICING ACTIVITY INDICATOR                  object
dtypes: float64(16), int64(4), object(11)
memory usage: 8.3+ GB

In [11]:
df_perf.isna().sum()

LOAN IDENTIFIER                                      0
MONTHLY REPORTING PERIOD                             0
SERVICER NAME                                 34881703
CURRENT INTEREST RATE                                0
CURRENT ACTUAL UPB                             3797532
LOAN AGE                                             0
REMAINING MONTHS TO LEGAL MATURITY                   0
ADJUSTED MONTHS TO MATURITY                      48055
MATURITY DATE                                        0
METROPOLITAN STATISTICAL AREA (MSA)                  0
CURRENT LOAN DELINQUENCY STATUS                    904
MODIFICATION FLAG                                    0
ZERO BALANCE CODE                             35481268
ZERO BALANCE EFFECTIVE DATE                   35481268
LAST PAID INSTALLMENT DATE                    35826295
FORECLOSURE DATE                              35826374
DISPOSITION DATE                              35826392
FORECLOSURE COSTS                             35826398
PROPERTY PRESERVATION AND REPAIR COSTS        35826570
ASSET RECOVERY COSTS                          35826884
MISCELLANEOUS HOLDING EXPENSES AND CREDITS    35826493
ASSOCIATED TAXES FOR HOLDING PROPERTY         35826546
NET SALE PROCEEDS                             35826410
CREDIT ENHANCEMENT PROCEEDS                   35827002
REPURCHASE MAKE WHOLE PROCEEDS                35827185
OTHER FORECLOSURE PROCEEDS                    35826765
NON INTEREST BEARING UPB                      35779144
PRINCIPAL FORGIVENESS AMOUNT                  35827162
REPURCHASE MAKE WHOLE PROCEEDS FLAG           35481268
FORECLOSURE PRINCIPAL WRITE-OFF AMOUNT        35827199
SERVICING ACTIVITY INDICATOR                    345931
dtype: int64

# add write up on above
- what you see in the data
- what will you do about nulls, columns, etc.

In [12]:
# define function to clean and merge datasets
### needs write up on assumptions and decisions on each step

def clean_merge_datasets(df_acq=df_acq, df_perf=df_perf, year=year, quarter=quarter):

    # condense df_perf down to last status of each loan
    loan_ids = df_perf['LOAN IDENTIFIER'].tolist()

    last_index = []
    for i in range(1,len(loan_ids)):
        if loan_ids[i] != loan_ids[i-1]:
            last_index.append(i-1)

        if i == len(loan_ids)-1:
            last_index.append(i)

    df_perf = df_perf.iloc[last_index]

    # condense df_perf down to loan id and zero balance code
    df_perf = df_perf[['LOAN IDENTIFIER', 'ZERO BALANCE CODE']]

    # rename target column to default
    df_perf.rename({'ZERO BALANCE CODE': 'DEFAULT'}, axis=1, inplace=True)

    # map zero balance codes to binary 
    df_perf['DEFAULT'] = df_perf['DEFAULT'].map(lambda x: 1 if x in [2, 3, 6, 9, 15] else 0)

    # merge
    df_cmp = pd.merge(df_acq, df_perf, on='LOAN IDENTIFIER')

    # create binary MI column
    df_cmp['MI'] = df_cmp['PRIMARY MORTGAGE INSURANCE PERCENT'].fillna(0).map(lambda x: 1 if x > 0 else x)

    # drop nulls
    df_cmp.dropna(subset=['DEFAULT', 'ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)', 'NUMBER OF BORROWERS', 'ORIGINAL DEBT TO INCOME RATIO', 
                        'BORROWER CREDIT SCORE AT ORIGINATION'], inplace=True)

    # create MINIMUM CREDIT SCORE column
    df_cmp['CO-BORROWER CREDIT SCORE AT ORIGINATION'].fillna(1000, inplace=True)
    df_cmp['MIN CREDIT SCORE'] = df_cmp[['BORROWER CREDIT SCORE AT ORIGINATION', 'CO-BORROWER CREDIT SCORE AT ORIGINATION']].min(axis=1)

    # drop columns
    df_cmp.drop(columns=['PRIMARY MORTGAGE INSURANCE PERCENT', 'MORTGAGE INSURANCE TYPE', 
                         'BORROWER CREDIT SCORE AT ORIGINATION', 'CO-BORROWER CREDIT SCORE AT ORIGINATION',
                         'ORIGINATION DATE', 'FIRST PAYMENT DATE', 'ZIP CODE SHORT'], inplace=True)

    # reset index
    df_cmp.reset_index(drop=True, inplace=True)

    # save to csv
    df_cmp.to_csv(f'../data/complete{year}q{quarter}.csv', index=False)
    
    return df_cmp

In [13]:
df_cmp = clean_merge_datasets()

In [14]:
df_cmp.isna().sum()

LOAN IDENTIFIER                           0
ORIGINATION CHANNEL                       0
SELLER NAME                               0
ORIGINAL INTEREST RATE                    0
ORIGINAL UPB                              0
ORIGINAL LOAN TERM                        0
ORIGINAL LOAN-TO-VALUE (LTV)              0
ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)    0
NUMBER OF BORROWERS                       0
ORIGINAL DEBT TO INCOME RATIO             0
FIRST TIME HOME BUYER INDICATOR           0
LOAN PURPOSE                              0
PROPERTY TYPE                             0
NUMBER OF UNITS                           0
OCCUPANCY TYPE                            0
PROPERTY STATE                            0
PRODUCT TYPE                              0
RELOCATION MORTGAGE INDICATOR             0
DEFAULT                                   0
MI                                        0
MIN CREDIT SCORE                          0
dtype: int64

In [15]:
df_cmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637079 entries, 0 to 637078
Data columns (total 21 columns):
LOAN IDENTIFIER                           637079 non-null int64
ORIGINATION CHANNEL                       637079 non-null object
SELLER NAME                               637079 non-null object
ORIGINAL INTEREST RATE                    637079 non-null float64
ORIGINAL UPB                              637079 non-null int64
ORIGINAL LOAN TERM                        637079 non-null int64
ORIGINAL LOAN-TO-VALUE (LTV)              637079 non-null int64
ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)    637079 non-null float64
NUMBER OF BORROWERS                       637079 non-null float64
ORIGINAL DEBT TO INCOME RATIO             637079 non-null float64
FIRST TIME HOME BUYER INDICATOR           637079 non-null object
LOAN PURPOSE                              637079 non-null object
PROPERTY TYPE                             637079 non-null object
NUMBER OF UNITS                           637079 non-null int64
OCCUPANCY TYPE                            637079 non-null object
PROPERTY STATE                            637079 non-null object
PRODUCT TYPE                              637079 non-null object
RELOCATION MORTGAGE INDICATOR             637079 non-null object
DEFAULT                                   637079 non-null int64
MI                                        637079 non-null float64
MIN CREDIT SCORE                          637079 non-null float64
dtypes: float64(6), int64(6), object(9)
memory usage: 102.1+ MB